.card-login {
    width: 350px;
    height: 150px;
    background-color: $white;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    /*box-shadow: 0 0 3px 0 $cc-color-boxshadow;*/
    margin-bottom: 0;
}
