// Colors scheme
// Brand Colors
$primary: #594F74;
$secondary: #635F98;
$success: #2ECE88;
$warning: #FFD15F;
$danger: #FF495C;
$fail: #FF495C;

// Black / Grey
$dark: #303030;
$dark-gray: #3D3C3E;
$medium-gray: #84848F;
$light-gray: #E7E7EF;
$light-gray-2: #F6F6F9;
$light-gray70: #E3E3E3;
$gray: #ADACB9;
$white: #FFFFFF;
