
@{
    ViewBag.Title = "Chicken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header">
            <h3>Aimjung Restaurant</h3>
            <strong>AJ</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="@Url.Action("Pork","Order")">
                    @*<h3>Pork</h3>*@
                    <img src="~/Content/images/sidebar/pig.png" style="height: 40px; width: 40px;" alt="..." />
                </a>
            </li>
            <li>
                <a href="@Url.Action("Beef","Order")">
                    @*<h3>Beef</h3>*@
                    <img src="~/Content/images/sidebar/cow.png" style="height: 40px; width: 40px;" alt="..." />
                </a>
                <a href="#">
                    @*<h3>Chicken</h3>*@
                    <img src="~/Content/images/sidebar/chicken.png" style="height: 40px; width: 40px;" alt="..." />
                </a>
            </li>
            <li>
                <a href="@Url.Action("Fish","Order")">
                    @*<h3>Fish</h3>*@
                    <img src="~/Content/images/sidebar/fish.png" style="height: 40px; width: 40px;" alt="..." />
                </a>
            </li>
            <li>
                <a href="@Url.Action("Drink","Order")">
                    @*<h3>Drink</h3>*@
                    <img src="~/Content/images/sidebar/plastic-bottle.png" style="height: 40px; width: 40px;" alt="..." />
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="d-flex justify-content-center mt-4">
            <img src="~/Content/images/sidebar/chicken.png" style="height: 100px; width: 100px;" alt="..." />
        </div>
        <div class="d-flex justify-content-around food-section py-3">
            <div class="card p-2">
                <img src="~/Content/images/chicken/สเตีกไก่ส้มตำอิ่มจุง.jpg" class="card-img-top" style="height: 200px; width: 250px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">สเตีกไก่ส้มตำอิ่มจุง</h5>
                </div>
            </div>
            <div class="card p-2">
                <img src="~/Content/images/chicken/ไก่ย่างสไปซี่บาร์บีคิว.jpg" class="card-img-top" style="height: 200px; width: 250px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ไก่ย่างสไปซี่บาร์บีคิว</h5>
                </div>
            </div>
            <div class="card p-2">
                <img src="~/Content/images/chicken/ไก่ย่างฮิบาชิ.jpg" class="card-img-top" style="height: 200px; width: 250px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ไก่ย่างฮิบาชิ</h5>
                </div>
            </div>
            <div class="card p-2">
                <img src="~/Content/images/chicken/ไก่สไปซี่.jpg" class="card-img-top" style="height: 200px; width: 250px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">ไก่สไปซี่</h5>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#sidebar').on('mouseover', function () {
                $(this).removeClass('active');
            });

            $('#sidebar').on('mouseleave', function () {
                $(this).addClass('active');
            });
        });
    </script>
}

